<div class="page" id="block-page" data-page-id="block-container">
    <div class="block-item" data-block-id="0" data-page-id="block-container" draggable="true">
        <h1>
            <textarea class="title-textarea" id="user-store-title" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-name" hx-swap="outerHTML" title="Name of store">Enchanted Roots Gear Emporium</textarea>
        </h1>
        <div contenteditable="true" class="description-textarea" id="user-store-description" hx-post="/update-stats" hx-trigger="change" hx-target="#user-monster-description" hx-swap="outerHTML" title="Any amount or style of description" style="height: 195px;">
            <p>Nestled in the heart of the bustling Market District, Enchanted Roots Gear Emporium is a veritable Eden for adventurers seeking gear with a twist of magic and a dash of the unexpected. A vivid cacophony of wild, glowing flora complements the vast inventory of essential equipment and enchanting curiosities. Enchanted Roots was established by Gorgeous, an intelligent fae plant, after it was discovered by a wandering druid in a mystical forest. With an innate understanding of magical flora and fauna, Gorgeous decided to settle in town and share its treasures with the world. Renowned for its unique owner and unusual collection, adventurers and local townsfolk alike swear by the quality and charm of the items sold here.</p>
        </div>
    </div>
    
    <div class="block-item" data-block-id="1" data-page-id="block-container" draggable="true">
        <textarea class="image-textarea" id="sdprompt-1" hx-post="/update-stats" hx-trigger="change" hx-target="#user-sd-prompt" hx-swap="outerHTML" title="Storefront image description" style="height: 80px;">A highly detailed fantasy painting of the exterior of a greenhouse that serves double duty as a adventuring gear shop, that is also a greenhouse and is overflowing with plants as well as equipment</textarea>
        <button class="generate-image-button" data-block-id="1"></button>
        <img id="generated-image-1" alt="" style="display: none; cursor: pointer;">
    </div>
    
    <div class="block-item" data-block-id="2" data-page-id="block-container" draggable="true">
        <div class="block classTable frame decoration">
            <table>
                <thead>
                    <tr>
                        <th align="left"></th>
                        <th align="center"></th>
                        <th align="center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr> 
                        <td align="left"><strong>Size</strong></td>
                        <td align="right"><textarea class="string-action-description-textarea" id="user-store-size-2" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-size-2t" hx-swap="outerHTML" title="Store Size">Medium</textarea></td>
                    </tr>
                    <tr>
                        <td align="left"><strong>Town</strong></td>
                        <td align="right"><textarea class="string-action-description-textarea" id="user-store-town-2" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-town-2t" hx-swap="outerHTML" title="Store Size">Everbright</textarea></td>
                    </tr>
                    <tr>
                        <td align="left"><strong>District</strong></td>
                        <td align="right"><textarea class="string-action-description-textarea" id="user-store-district-2" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-district-2t" hx-swap="outerHTML" title="Store Size">Market District</textarea></td>
                    </tr>
                    <tr>
                        <td align="left"><strong>Street</strong></td>
                        <td align="right"><textarea class="string-action-description-textarea" id="user-store-street-2" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-street-2t" hx-swap="outerHTML" title="Store Size">Wanderer's Way</textarea></td>
                    </tr>
                    <tr>
                        <td align="left"><strong>Type</strong></td>
                        <td align="right"><textarea class="string-action-description-textarea" id="user-store-type-2" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-type-2t" hx-swap="outerHTML" title="Store Size">Gear Shop</textarea></td>
                    </tr>
                    <tr>
                        <td align="left"><strong>Store Hours</strong></td>
                        <td align="right"><textarea class="string-action-description-textarea" id="user-store-hours-2" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-hours-2t" hx-swap="outerHTML" title="Store Size">9 AM - 6 PM, daily</textarea></td>
                    </tr> 
                    <tr>
                        <td align="left"><strong>Store Services</strong></td>
                        <td align="right"><textarea class="string-action-description-textarea" id="user-store-services-2" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-services-2t" hx-swap="outerHTML" title="">Plant Whispering</textarea></td>
                    </tr>
                    <tr>
                        <td align="left"><strong>Store Services</strong></td>
                        <td align="right"><textarea class="string-action-description-textarea" id="user-store-services-2" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-services-2t" hx-swap="outerHTML" title="">Enchantment Infusion</textarea></td>
                    </tr>
                    <tr>
                        <td align="left"><strong>Store Specialties</strong></td>
                        <td align="right"><textarea class="string-action-description-textarea" id="user-store-specialties-2" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-specialties-2t" hx-swap="outerHTML" title="">Fae Light Compass</textarea></td>
                    </tr>
                    <tr>
                        <td align="left"><strong>Store Rumors</strong></td>
                        <td align="right"><textarea class="string-action-description-textarea" id="user-store-rumors-2" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-rumors-2t" hx-swap="outerHTML" title="Rumors" style="height: 64px;">It's whispered that if a seed from Gorgeous's pot is planted under a full moon, it will sprout a magical beanstalk leading to another realm.</textarea></td>
                    </tr>
                    <tr>
                        <td align="left"><strong>Store Reputation</strong></td>
                        <td align="right"><textarea class="string-action-description-textarea" id="user-store-reputation-2" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-reputation-2t" hx-swap="outerHTML" title="Store Size" style="height: 80px;">Renowned for its unique owner and unusual collection, adventurers and local townsfolk alike swear by the quality and charm of the items sold here.</textarea></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="block-item" data-block-id="3" data-page-id="block-container" draggable="true">
        <textarea class="image-textarea" id="sdprompt-3" hx-post="/update-stats" hx-trigger="change" hx-target="#user-sd-prompt" hx-swap="outerHTML" title="Storefront image description" style="height: 48px;">A highly detailed fantasy drawing of a sentient potted plant with glowing tendrils, set in an enchanting gear shop filled with vibrant flora and a myriad of magical items.</textarea>
        <button class="generate-image-button" data-block-id="3"></button>
        <img id="generated-image-3" alt="" style="display: none; cursor: pointer;">
    </div>
    
    <div class="block-item" data-block-id="4" data-page-id="block-container" draggable="true">
        <h2 id="owner">Owner</h2>
        <h3 id="owner_1"><textarea class="subtitle-textarea" id="user-store-owner-4" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-owner-4t" hx-swap="outerHTML" title="Owner Name">Gorgeous</textarea></h3>
        <table>
            <thead>
                <tr>
                    <th align="center"></th>
                    <th align="center"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="left"><strong>Owner</strong></td>
                    <td align="right"><textarea class="string-action-description-textarea" id="Owner-4" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-owners-4t" hx-swap="outerHTML" title="">Gorgeous</textarea></td>
                </tr>
                <tr>
                    <td align="left"><strong>Species</strong></td>
                    <td align="right"><textarea class="string-action-description-textarea" id="Species-4" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-owners-4t" hx-swap="outerHTML" title="">Fae Plant</textarea></td>
                </tr>
                <tr>
                    <td align="left"><strong>Class</strong></td>
                    <td align="right"><textarea class="string-action-description-textarea" id="Class-4" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-owners-4t" hx-swap="outerHTML" title="">Druid</textarea></td>
                </tr>
                <tr>
                    <td align="left"><strong>Description</strong></td>
                    <td align="right"><textarea class="string-action-description-textarea" id="Description-4" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-owners-4t" hx-swap="outerHTML" title="" style="height: 32px;">A vibrant potted plant with bioluminescent tendrils and a captivating aura.</textarea></td>
                </tr>
                <tr>
                    <td align="left"><strong>Personality</strong></td>
                    <td align="right"><textarea class="string-action-description-textarea" id="Personality-4" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-owners-4t" hx-swap="outerHTML" title="" style="height: 32px;">Charming, knowledgeable, with a dry sense of humor.</textarea></td>
                </tr>
                <tr>
                    <td align="left"><strong>Secrets</strong></td>
                    <td align="right"><textarea class="string-action-description-textarea" id="user-store-secrets-4" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-secrets-4t" hx-swap="outerHTML" title="Store Size">Contains hidden seeds of a rare, sentient forest.</textarea></td>
                </tr>
                <tr>
                    <td align="left"><strong>Secrets</strong></td>
                    <td align="right"><textarea class="string-action-description-textarea" id="user-store-secrets-4" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-secrets-4t" hx-swap="outerHTML" title="Store Size" style="height: 32px;">Can communicate with other plants within a mile radius.</textarea></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="block-item" data-block-id="5" data-page-id="block-container" draggable="true">
        <textarea class="image-textarea" id="sdprompt-5" hx-post="/update-stats" hx-trigger="change" hx-target="#user-sd-prompt" hx-swap="outerHTML" title="Storefront image description" style="height: 49px;">A highly detailed fantasy image of a half-elf shopkeeper with forest-green eyes and flower-adorned hair, set in a magical gear shop filled with glowing plants and enchanted equipment.</textarea>
        <button class="generate-image-button" data-block-id="5"></button>
        <img id="generated-image-5" alt="" style="display: none; cursor: pointer;">
    </div>
    
    <div class="block-item" data-block-id="6" data-page-id="block-container" draggable="true">
        <h2 id="employee">Employee</h2>
        <h3 id="owner_1"><textarea class="subtitle-textarea" id="user-store-employee-6" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-employee-6t" hx-swap="outerHTML" title="Employee Name">Briar</textarea></h3>
        <table>
            <thead>
                <tr>
                    <th align="center"></th>
                    <th align="center"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="left"><strong>Employee</strong></td>
                    <td align="right"><textarea class="string-action-description-textarea" id="Employee-6" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-employee-6t" hx-swap="outerHTML" title="">Briar</textarea></td>
                </tr>
                <tr>
                    <td align="left"><strong>Role</strong></td>
                    <td align="right"><textarea class="string-action-description-textarea" id="Role-6" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-employee-6t" hx-swap="outerHTML" title="">Shopkeeper</textarea></td>
                </tr>
                <tr>
                    <td align="left"><strong>Species</strong></td>
                    <td align="right"><textarea class="string-action-description-textarea" id="Species-6" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-employee-6t" hx-swap="outerHTML" title="">Half-Elf</textarea></td>
                </tr>
                <tr>
                    <td align="left"><strong>Description</strong></td>
                    <td align="right"><textarea class="string-action-description-textarea" id="Description-6" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-employee-6t" hx-swap="outerHTML" title="" style="height: 32px;">A lithe figure with forest-green eyes and hair adorned with tiny flowers.</textarea></td>
                </tr>
                <tr>
                    <td align="left"><strong>Personality</strong></td>
                    <td align="right"><textarea class="string-action-description-textarea" id="Personality-6" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-employee-6t" hx-swap="outerHTML" title="" style="height: 32px;">Warm, effervescent, with an encyclopedic knowledge of magical flora.</textarea></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="block-item" data-block-id="7" data-page-id="block-container" draggable="true">
        <h1 id="store-quests">Customers</h1>
        <h3 id="customer_1">
            <textarea class="subtitle-textarea" id="user-store-customer-7" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-customer-7t" hx-swap="outerHTML" title="Customer Name">Thistle</textarea>
        </h3>
        <p>
            <textarea class="string-action-description-textarea" id="user-store-customer-7" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-customer-7t" hx-swap="outerHTML" title="Customer Description" style="height: 32px;">Description: A mischievous forest sprite often seen fluttering among the flora displays.</textarea>
        </p>
        <p>
            <textarea class="string-action-description-textarea" id="user-store-customer-7" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-customer-7t" hx-swap="outerHTML" title="Customer Influence">Influence: Helps attract other mythical creatures to the shop.</textarea>
        </p>
    </div>
    
    <div class="block-item" data-block-id="8" data-page-id="block-container" draggable="true">
        <h1 id="store-quests">Store Quests</h1>
        <h3 id="quest_1">
            <textarea class="subtitle-textarea" id="user-store-quest-8" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-quest-8t" hx-swap="outerHTML" title="Quest Name">The Lost Seed</textarea>
        </h3>
        <p>
            <textarea class="string-action-description-textarea" id="user-store-quest-8" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-quest-8t" hx-swap="outerHTML" title="Quest Description" style="height: 63px;">Description: Gorgeous has lost a mystical seed that grants immense power to the one who plants it. Locate the seed somewhere in the mystical forest, but beware of the enchanted creatures residing there.</textarea>
        </p>
        <p>
            <textarea class="string-action-description-textarea" id="user-store-quest-8" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-quest-8t" hx-swap="outerHTML" title="Quest Reward" style="height: 32px;">Reward: An enchanted satchel that holds double its volume without increasing in weight.</textarea>
        </p>
    </div>
    
    <div class="block-item" data-block-id="9" data-page-id="block-container" draggable="true">
        <h1 id="store-quests">Services</h1>
        <h3 id="service_1">
            <textarea class="subtitle-textarea" id="user-store-service-9" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-service-9t" hx-swap="outerHTML" title="Service Name">Plant Whispering</textarea>
        </h3>
        <p>
            <textarea class="string-action-description-textarea" id="user-store-service-9" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-service-9t" hx-swap="outerHTML" title="Service Description" style="height: 48px;">Description: A unique service where Gorgeous communicates with the plants brought in by customers, diagnosing their needs and healing them.</textarea>
        </p>
        <p>
            <textarea class="string-action-description-textarea" id="user-store-service-9" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-service-9t" hx-swap="outerHTML" title="Service Price">Price: 5 gold pieces per session</textarea>
        </p>
    </div>
    
    <div class="block-item" data-block-id="10" data-page-id="block-container" draggable="true">
        <h3 id="service_2">
            <textarea class="subtitle-textarea" id="user-store-service-10" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-service-10t" hx-swap="outerHTML" title="Service Name">Enchantment Infusion</textarea>
        </h3>
        <p>
            <textarea class="string-action-description-textarea" id="user-store-service-10" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-service-10t" hx-swap="outerHTML" title="Service Description" style="height: 32px;">Description: Infuse your regular gear with minor enchantments for enhanced performance.</textarea>
        </p>
        <p>
            <textarea class="string-action-description-textarea" id="user-store-service-10" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-service-10t" hx-swap="outerHTML" title="Service Price">Price: 20 gold pieces per item</textarea>
        </p>
    </div>
    
    <div class="block-item" data-block-id="11" data-page-id="block-container" draggable="true">
        <h1 id="store-quests">Specialties</h1>
        <h3 id="specialty_1">
            <textarea class="subtitle-textarea" id="user-store-specialty-11" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-specialty-11t" hx-swap="outerHTML" title="Specialty Name">Fae Light Compass</textarea>
        </h3>
        <p>
            <textarea class="string-action-description-textarea" id="user-store-specialty-11" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-specialty-11t" hx-swap="outerHTML" title="Specialty Description" style="height: 32px;">Description: A magical compass that not only points north but also glows brightly in the presence of nearby hidden treasures.</textarea>
        </p>
        <p>
            <textarea class="string-action-description-textarea" id="user-store-specialty-11" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-specialty-11t" hx-swap="outerHTML" title="Specialty Price">Price: 35 gold pieces</textarea>
        </p>
    </div>
    
    <div class="block-item" data-block-id="12" data-page-id="block-container" draggable="true">
        <h1 id="store-quests">Security</h1>
        <h3 id="security_1">
            <textarea class="subtitle-textarea" id="user-store-security-12" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-security-12t" hx-swap="outerHTML" title="Security Name">Root Sentinels</textarea>
        </h3>
        <p>
            <textarea class="string-action-description-textarea" id="user-store-security-12" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-security-12t" hx-swap="outerHTML" title="Security Description" style="height: 32px;">Description: Invisible roots that prevent theft by entangling or tripping would-be thieves.</textarea>
        </p>
        <p>
            <textarea class="string-action-description-textarea" id="user-store-security-12" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-security-12t" hx-swap="outerHTML" title="Security Mechanics" style="height: 32px;">Mechanics: Automatically triggered by any unauthorized attempt to take an item, they immobilize and alert the staff.</textarea>
        </p>
    </div>
    
    <div class="block-item" data-block-id="13" data-page-id="block-container" draggable="true">
        <div class="block classTable frame decoration">
            <h5 id="inventory">Inventory</h5>
            <table>
                <thead>
                    <tr>
                        <th align="center">Name</th>
                        <th align="center">Type</th>
                        <th align="left">Cost</th>
                        <th align="center">Properties</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-name-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-name-13t" hx-swap="outerHTML" title="Item Name" style="height: 32px;">Traveler's Cloak</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-type-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-type-13t" hx-swap="outerHTML" title="Item Type">Apparel</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-cost-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-cost-13t" hx-swap="outerHTML" title="Item Cost">12 gold pieces</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-properties-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-properties-13t" hx-swap="outerHTML" title="Item Properties" style="height: 48px;">Weather-resistant, Self-cleaning</textarea></td>
                    </tr>
                    <tr>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-name-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-name-13t" hx-swap="outerHTML" title="Item Name" style="height: 32px;">Explorer's Rope</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-type-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-type-13t" hx-swap="outerHTML" title="Item Type">Equipment</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-cost-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-cost-13t" hx-swap="outerHTML" title="Item Cost">8 gold pieces</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-properties-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-properties-13t" hx-swap="outerHTML" title="Item Properties" style="height: 32px;">Unbreakable, 50 feet long</textarea></td>
                    </tr>
                    <tr>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-name-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-name-13t" hx-swap="outerHTML" title="Item Name" style="height: 32px;">Glowing Map</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-type-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-type-13t" hx-swap="outerHTML" title="Item Type" style="height: 32px;">Navigational Aid</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-cost-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-cost-13t" hx-swap="outerHTML" title="Item Cost">15 gold pieces</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-properties-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-properties-13t" hx-swap="outerHTML" title="Item Properties" style="height: 49px;">Illuminates in the dark, Self-updating</textarea></td>
                    </tr>
                    <tr>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-name-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-name-13t" hx-swap="outerHTML" title="Item Name" style="height: 32px;">Mystic Lantern</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-type-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-type-13t" hx-swap="outerHTML" title="Item Type">Tool</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-cost-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-cost-13t" hx-swap="outerHTML" title="Item Cost">10 gold pieces</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-properties-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-properties-13t" hx-swap="outerHTML" title="Item Properties" style="height: 48px;">Ever-burning flame, Detects magical auras</textarea></td>
                    </tr>
                    <tr>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-name-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-name-13t" hx-swap="outerHTML" title="Item Name" style="height: 32px;">Waterproof Satchel</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-type-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-type-13t" hx-swap="outerHTML" title="Item Type">Bag</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-cost-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-cost-13t" hx-swap="outerHTML" title="Item Cost">18 gold pieces</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-properties-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-properties-13t" hx-swap="outerHTML" title="Item Properties" style="height: 64px;">Waterproof, Pockets that adjust for extra space</textarea></td>
                    </tr>
                    <tr>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-name-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-name-13t" hx-swap="outerHTML" title="Item Name" style="height: 32px;">Verdant Blade</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-type-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-type-13t" hx-swap="outerHTML" title="Item Type">Sword</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-cost-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-cost-13t" hx-swap="outerHTML" title="Item Cost">50 gold pieces</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-properties-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-properties-13t" hx-swap="outerHTML" title="Item Properties" style="height: 80px;">Chlorophyll-infused edge, Regenerates minor damage over time</textarea></td>
                    </tr>
                    <tr>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-name-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-name-13t" hx-swap="outerHTML" title="Item Name" style="height: 32px;">Barkskin Armor</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-type-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-type-13t" hx-swap="outerHTML" title="Item Type">Light Armor</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-cost-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-cost-13t" hx-swap="outerHTML" title="Item Cost">40 gold pieces</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-properties-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-properties-13t" hx-swap="outerHTML" title="Item Properties" style="height: 80px;">Provides moderate protection, Camouflages in forested areas</textarea></td>
                    </tr>
                    <tr>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-name-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-name-13t" hx-swap="outerHTML" title="Item Name" style="height: 32px;">Elixir of Root Strength</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-type-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-type-13t" hx-swap="outerHTML" title="Item Type">Potion</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-cost-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-cost-13t" hx-swap="outerHTML" title="Item Cost">25 gold pieces</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-properties-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-properties-13t" hx-swap="outerHTML" title="Item Properties" style="height: 63px;">Temporarily grants enhanced strength and resistance</textarea></td>
                    </tr>
                    <tr>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-name-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-name-13t" hx-swap="outerHTML" title="Item Name" style="height: 32px;">Seed of Instant Growth</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-type-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-type-13t" hx-swap="outerHTML" title="Item Type">Seed</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-cost-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-cost-13t" hx-swap="outerHTML" title="Item Cost">30 gold pieces</textarea></td>
                        <td align="center"><textarea class="string-action-description-textarea" id="user-store-item-properties-13" hx-post="/update-stats" hx-trigger="change" hx-target="#user-store-item-properties-13t" hx-swap="outerHTML" title="Item Properties" style="height: 80px;">Grows into a full-sized tree within minutes, Can be used once</textarea></td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </div>
</div>
